.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.Menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.Stuff{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}
